# CoronaStatus Crawling

In [8]:
import pandas as pd
import requests, bs4

response = requests.get('https://www.seoul.go.kr/coronaV/coronaStatus.do')
html_obj = bs4.BeautifulSoup(response.content, 'html.parser')

ths = html_obj.select('table.tstyle-status.pc.pc-table > tbody > tr > th')
tds = html_obj.select('table.tstyle-status.pc.pc-table > tbody > tr > td')
place_time = html_obj.select(' div#wrap.sub > div#container > div.layout-inner.layout-sub > div.inner.inner7 > div.status > div.status-seoul > h4 ')

print(ths)
row_list = []
name_list = []
value_list = []

for i in range(0, len(ths)):
    #지역구
    columns = ths[i].text
    print(columns)

[<th scope="col">강남구</th>, <th scope="col">강동구</th>, <th scope="col">강북구</th>, <th scope="col">강서구</th>, <th scope="col">관악구</th>, <th scope="col">광진구</th>, <th scope="col">구로구</th>, <th scope="col">금천구</th>, <th scope="col">노원구</th>, <th scope="col">도봉구</th>, <th scope="col">동대문구</th>, <th scope="col">동작구</th>, <th scope="col">마포구 </th>, <th scope="col">서대문구</th>, <th scope="col">서초구</th>, <th scope="col">성동구</th>, <th scope="col">성북구</th>, <th scope="col">송파구</th>, <th scope="col">양천구</th>, <th scope="col">영등포구</th>, <th scope="col">용산구</th>, <th scope="col">은평구</th>, <th scope="col">종로구</th>, <th scope="col">중구</th>, <th scope="col">중랑구</th>, <th scope="col">기타</th>]
강남구
강동구
강북구
강서구
관악구
광진구
구로구
금천구
노원구
도봉구
동대문구
동작구
마포구
서대문구
서초구
성동구
성북구
송파구
양천구
영등포구
용산구
은평구
종로구
중구
중랑구
기타

## Code

In [2]:
import pandas as pd
import requests, bs4

response = requests.get('https://www.seoul.go.kr/coronaV/coronaStatus.do')
html_obj = bs4.BeautifulSoup(response.content, 'html.parser')

ths = html_obj.select('table.tstyle-status.pc.pc-table > tbody > tr > th')
tds = html_obj.select('table.tstyle-status.pc.pc-table > tbody > tr > td')
place_time = html_obj.select(' div#wrap.sub > div#container > div.layout-inner.layout-sub > div.inner.inner7 > div.status > div.status-seoul > h4 ')




status_dic = {}

for th, td in zip(ths, tds):
    status_dic[th.text] = td.text

number = 0
for value in placeList:
    number += int(status_dic[value])

    
print("\n" + place_time[0].text +"\n")
print(str(bus_number) + "번 버스가 지나는 자치구는" )
for idx, gu in enumerate(placeList):
    if idx != len(placeList)-1:
        print(gu, end=',')
    else:
        print(gu, end='')
print("입니다.\n")
      
print("해당 자치구(들)의 코로나 확진자 수는 " + str(number) + "명 입니다.")

[<th scope="col">강남구</th>, <th scope="col">강동구</th>, <th scope="col">강북구</th>, <th scope="col">강서구</th>, <th scope="col">관악구</th>, <th scope="col">광진구</th>, <th scope="col">구로구</th>, <th scope="col">금천구</th>, <th scope="col">노원구</th>, <th scope="col">도봉구</th>, <th scope="col">동대문구</th>, <th scope="col">동작구</th>, <th scope="col">마포구 </th>, <th scope="col">서대문구</th>, <th scope="col">서초구</th>, <th scope="col">성동구</th>, <th scope="col">성북구</th>, <th scope="col">송파구</th>, <th scope="col">양천구</th>, <th scope="col">영등포구</th>, <th scope="col">용산구</th>, <th scope="col">은평구</th>, <th scope="col">종로구</th>, <th scope="col">중구</th>, <th scope="col">중랑구</th>, <th scope="col">기타</th>] [<td>251,810</td>, <td>225,076</td>, <td>133,630</td>, <td>279,246</td>, <td>244,431</td>, <td>172,239</td>, <td>198,727</td>, <td>112,689</td>, <td>250,467</td>, <td>148,114</td>, <td>166,057</td>, <td>194,643</td>, <td>182,259</td>, <td class="today">+265</td>, <td class="today">+199</td>, <td class="today">+129</td>, <td class="today">+340</td>, <td class="today">+251</td>, <td class="today">+165</td>, <td class="today">+225</td>, <td class="today">+107</td>, <td class="today">+238</td>, <td class="today">+142</td>, <td class="today">+176</td>, <td class="today">+214</td>, <td class="today">+192</td>, <td>149,688</td>, <td>195,385</td>, <td>141,737</td>, <td>209,839</td>, <td>321,867</td>, <td>214,009</td>, <td>200,021</td>, <td>102,482</td>, <td>221,968</td>, <td>65,975</td>, <td>59,649</td>, <td>181,122</td>, <td>304,207</td>, <td class="today">+178</td>, <td class="today">+199</td>, <td class="today">+139</td>, <td class="today">+177</td>, <td class="today">+306</td>, <td class="today">+219</td>, <td class="today">+171</td>, <td class="today">+103</td>, <td class="today">+247</td>, <td class="today">+67</td>, <td class="today">+60</td>, <td class="today">+181</td>, <td class="today">+371</td>] []

NameError: name 'placeList' is not defined